## Python Type System

Python can be characterized as having a **dynamic** and **strong** type system

### Dynamic typing

The **type** of an object isn't resolved until the program is run

In [1]:
def add(a, b):
    return a + b

#Nowhere in the definition we mention any type

In [2]:
#Call with ints
add(1,3)

4

In [3]:
#Call with strings
add("cat", "dog")

'catdog'

In [4]:
#Call with lists
add([1,2,3], [33,22,11])

[1, 2, 3, 33, 22, 11]

In [5]:
#Mixed types
add(3, "cat")

TypeError: unsupported operand type(s) for +: 'int' and 'str'

## Variable Declaration and Scope

Type declaration are not necessary in python, and variables are essentially just untyped name bindings to objects.
### Identical names in global and local scope
When you need to rebind a global name at module scope follow the next rules:

#### The LEGB Rule
The four types of scope:
* **Local**: names defined inside the current function
* **Enclosing**: names defined insideany and all enclosing functions.
* **Global**: names defined at the top-level of a module
* **Built-in**: names builtin to the Python language through the special builtin modules

##Collections
We have already test these collections:
* **str** the immutable string sequence of Unicode code points
* **list** the mutable sequence of objects
* **dict** the mutable mapping of immutable keys to mutable objects

Some new collections:
* **tuple** the immutable sequence of objects
* **range** for arithmetic progression of integers
* **set** a mutable collection of unique, immutable objects

## Tuple
Access members by index notation with []

In [7]:
t = ("Ogden", 1.99, 2)
print(t)
print(type(t))

('Ogden', 1.99, 2)
<class 'tuple'>

In [8]:
print(t[0])

Ogden

In [9]:
#Iterate over tuble
for item in t:
    print(item)

Ogden
1.99
2

## Concatenation and Repetition of Tuples

In [10]:
# Concatenation
t + ("hello", "you, 3")

('Ogden', 1.99, 2, 'hello', 'you, 3')

In [11]:
#repitition
t*2

('Ogden', 1.99, 2, 'Ogden', 1.99, 2)

## Nested tuples

In [13]:
a = ((220,284), (4324,43255),(432, 654))
a

((220, 284), (4324, 43255), (432, 654))

In [14]:
#access a member
a[2][0]

432

In [20]:
#single element tuple, **ADD a COMMA TO THE END**
h = (342,)
print(h)
type(h)

(342,)

tuple

In [21]:
#Empty tuple
e = ()
type(e)

tuple

In [22]:
#optional parenthesis
p = 1, 2, 3, 4, 5
p

(1, 2, 3, 4, 5)

In [23]:
type(p)

tuple

### Returning and Unpacking Tuples
This is often used when returning multiple values from a function

In [26]:
#function the returns min and max
def min_max(h):
    return min(h),max(h)
min_max(p)

(1, 5)

Returning multiple values from a function as a tuple is often used in conjection with a feature called **tuple unpacking**

In [27]:
lower, upper = min_max(p)
print(lower)
print(upper)

1
5

In [29]:
a = "jelly"
b = "bean"
print(a,b)
a, b = b , a
print (a,b)

jelly bean
bean jelly

### Tuple constructor: tuple(iterable object)

In [30]:
tuple([1,2,3,4,5,6,7])

(1, 2, 3, 4, 5, 6, 7)

In [31]:
tuple("Weber State")

('W', 'e', 'b', 'e', 'r', ' ', 'S', 't', 'a', 't', 'e')

### Test Membership

In [32]:
5 in (33,5,7,9,11)

True

In [33]:
5 not in (33,5,7,9,11)

False

## Strings

## Find size of string with len()

In [34]:
len("This is a long string")

21

## Concatenation

In [35]:
"New" +" "+"world"

'New world'

In [37]:
s= "part"
s += "1"
s

'part1'

### Joining strings
The recommendation is to use the built in join() instead of += because is more efficent with memory.

In [39]:
teams = ";".join(["Utah Jazz", "LA Lakers", "Boston Celtics"])
teams

'Utah Jazz;LA Lakers;Boston Celtics'

In [40]:
w = "".join(["high","low"])
w

'highlow'

### Splitting a string

In [42]:
teams.split(";")

['Utah Jazz', 'LA Lakers', 'Boston Celtics']

### Partitioning strings
This method returns a tuple.

In [43]:
departure, separator, arrival = "London:Edinburgh".partition(':')
print(departure, separator, arrival)

London : Edinburgh

### String Formating with format()

In [45]:
print("The age of {0} is {1}".format("Mario", 21))

The age of Mario is 21

In [46]:
print("The age of {0} is {1}. {0}'s birhday is {2}".format("mario", "21","3/3/1995"))

The age of mario is 21. mario's birhday is 3/3/1995

In [47]:
# IF the field names are used once and it has the same order as the arguments they can be ommited
print("one {} and two {}".format("1", "2"))

one 1 and two 2

In [48]:
# Keword arguments are supplied to the format() then named field can be used instead of ordinals
print("Current position {lat} {log}".format(lat="60N",log="5E"))

Current position 60N 5E

In [51]:
#you can use index into the sequence using square brakets
print("Galactic position x={pos[0]}, y={pos[1]}, z = {pos[2]}".format(pos=(65.2,23.1,56.7)))

Galactic position x=65.2, y=23.1, z = 56.7

# Range use range()
The range is used to represent a arathmetic progression of integers.

In [52]:
range(5)

range(0, 5)

In [53]:
# iterate over it
for i in range(5):
    print(i)

0
1
2
3
4

In [54]:
#set initial value
for i in range(5,10):
    print(i)

5
6
7
8
9

In [55]:
#cast it to a list
list(range(10,15))

[10, 11, 12, 13, 14]

In [56]:
#combine multiple
list(range(5,10))+list(range(15,20))

[5, 6, 7, 8, 9, 15, 16, 17, 18, 19]

In [57]:
#set step argument:
list(range(0,20,2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [59]:
list(range(20,0,-2))

[20, 18, 16, 14, 12, 10, 8, 6, 4, 2]

In [60]:
#Not using range to inumerate: The example below is poor style
s = [0, 3,4, 6,23,7]
for i in range(len(s)):
    print(s[i])

0
3
4
6
23
7

In [62]:
#The above is not very good this one is better
for v in s:
    print(v)

0
3
4
6
23
7

If you need a counter, use the **enumerate()** function which returns an iterable series:

In [63]:
t = [6, 44, 66, 34,88]
for p in enumerate(t):
    print(p)

(0, 6)
(1, 44)
(2, 66)
(3, 34)
(4, 88)

In [65]:
#unpack the tuple
for i,v in enumerate(t):
    print("i = {0}, v={1}".format(i,v))

i = 0, v=6
i = 1, v=44
i = 2, v=66
i = 3, v=34
i = 4, v=88

## List
Hetrogenous mutable sequence

In [66]:
s = "Show me the money".split()
s

['Show', 'me', 'the', 'money']

In [67]:
s[3]

'money'

In [68]:
# negitive indexing
s[-1]

'money'

In [69]:
s[-2]

'the'

In [70]:
s[-4]

'Show'

## Slicing List

In [76]:
s = [3, -4, 55, 44,634,-5]
s

[3, -4, 55, 44, 634, -5]

In [73]:
#Slice a range of indexes
s[1:4]

[-4, 55, 634]

In [75]:
s[1:-1]

[-4, 55, 634]

In [77]:
# starting position to end
s[2:]

[55, 44, 634, -5]

In [78]:
s[:3]

[3, -4, 55]

In [80]:
full_slice = s[:] #deep copy
full_slice is s

False

In [81]:
# same values?
full_slice == s

True

## Copy list

In [82]:
t = s

In [83]:
t is s
#Same opject?

True

To copy a list, use the **Copy()** method instead of full slice

In [84]:
u = s.copy()

In [85]:
u is s

False

In [86]:
# simply call the list()
v = list(s)
v is s

False

## Shallow Copies
Copy the references no values

In [87]:
a = [[1,2], [3,4]]
a

[[1, 2], [3, 4]]

In [89]:
# make a copy with full slice
b = a[:]
a is b

False

In [90]:
a == b

True

In [91]:
# modify one list
print(a[0])
print(b[0])

[1, 2]
[1, 2]

In [96]:
a[0] is b[0]

True

In [97]:
#The above statement is TRUE, because all copies are shallow

In [98]:
a[1].append(5)
print(a)
print(b)

[[1, 2], [3, 4, 5], 3]
[[1, 2], [3, 4, 5]]

## Repeating a list

As for strings, lists, repitition using multiplication operator

In [101]:
c = [21 ,37]
d = c * 4
print(d)

[21, 37, 21, 37, 21, 37, 21, 37]

In [102]:
# good to initialized values
[0] * 9

[0, 0, 0, 0, 0, 0, 0, 0, 0]

In [103]:
# beware of repetition. 
s = [[-1, 1]] * 5
s

[[-1, 1], [-1, 1], [-1, 1], [-1, 1], [-1, 1]]

In [104]:
# modify one member
s[2].append(7)
print(s)

[[-1, 1, 7], [-1, 1, 7], [-1, 1, 7], [-1, 1, 7], [-1, 1, 7]]

In [105]:
s[1] = [3,4,5]
print(s)

[[-1, 1, 7], [3, 4, 5], [-1, 1, 7], [-1, 1, 7], [-1, 1, 7]]

Find the first element using **index()**

In [106]:
w = "the quick brown fox jumps over the lazy dog".split()
w

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [107]:
#get the index
w.index('fox')

3

In [108]:
w.index("unicorn")

ValueError: 'unicorn' is not in list

To count instances of a value in a list use **count()**

In [110]:
w.count("the")

2

Test membership with **count*()** or in and **not in**

In [111]:
37 in [4, 5, 6, 7, 2]

False

### Remove elements from list with del()

In [112]:
w = "the quick brown fox jumps over the lazy dog".split()

In [113]:
del w[3]
w

['the', 'quick', 'brown', 'jumps', 'over', 'the', 'lazy', 'dog']

In [114]:
w.remove("jumps")

In [115]:
w

['the', 'quick', 'brown', 'over', 'the', 'lazy', 'dog']

### Insert() Method
Accepts the index of the new item and the new item itself

In [117]:
a = "I acidentally exploded the universe".split()
a

['I', 'acidentally', 'exploded', 'the', 'universe']

In [118]:
a.insert(4, "whole")

In [119]:
a

['I', 'acidentally', 'exploded', 'the', 'whole', 'universe']

### Concatenation of a list

In [120]:
m = [1,2,3]
n = [4,5,6]
k = [m+n]
print(k)

[[1, 2, 3, 4, 5, 6]]

In [121]:
# where the agmented assignment operator += modifies the assignee in place:
t +=[18,34,99]
print(t)

[3, -4, 55, 44, 634, -5, 18, 34, 99]

In [122]:
#use extend()
k.extend([44,45,46])
print(k)

[[1, 2, 3, 4, 5, 6], 44, 45, 46]

### Rearrange elements: reverse(), sort(), key

In [123]:
g = [1,22 ,44,55,556,23]
print(g)
g.reverse()
print(g)

[1, 22, 44, 55, 556, 23]
[23, 556, 55, 44, 22, 1]

In [124]:
#sort list
d = [4,6,2,4,1,9,76,23]
print(d)
d.sort()
print(d)

[4, 6, 2, 4, 1, 9, 76, 23]
[1, 2, 4, 4, 6, 9, 23, 76]

In [125]:
d.sort(reverse=True)

In [126]:
print(d)

[76, 23, 9, 6, 4, 4, 2, 1]

In [127]:
#key parameter is interesting
w = "the quick brown fox jumps over the lazy dog".split()
w

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [128]:
w.sort(key=len)
w

['the', 'fox', 'the', 'dog', 'over', 'lazy', 'quick', 'brown', 'jumps']

## Dictionaries
An unordered maping from unique immutale keys to mutable values

In [129]:
url = {"Google":"www.google.com", "Twitter":"www.twitter.com", "Weber State": "www.weber.edu"}
print (url['Weber State'])

www.weber.edu

In [130]:
# Dict() can convert from other types to dictionaries
names_and_ages = [('Alice', 32), ('John', 45), ('Maria', 20)]

In [131]:
d = dict(names_and_ages)
print(d)
print(type(d))

{'Alice': 32, 'John': 45, 'Maria': 20}
<class 'dict'>

In [132]:
phonetic = dict(a = 'alpha', b='bravo', c='charlie', d='delta', e='echo', f='foxtrot')
phonetic

{'a': 'alpha',
 'b': 'bravo',
 'c': 'charlie',
 'd': 'delta',
 'e': 'echo',
 'f': 'foxtrot'}

### Copy dictionaries
As with list, dictionaries copy are shallow by default.
Use the copy() constructor or dict() constructor

In [133]:
phonetic = dict(a = 'alpha', b='bravo', c='charlie', d='delta', e='echo', f='foxtrot')

pcopy = phonetic.copy() # cpy with method
print(pcopy)

{'a': 'alpha', 'b': 'bravo', 'c': 'charlie', 'd': 'delta', 'e': 'echo', 'f': 'foxtrot'}

In [134]:
f = dict(phonetic)
print(f)

{'a': 'alpha', 'b': 'bravo', 'c': 'charlie', 'd': 'delta', 'e': 'echo', 'f': 'foxtrot'}

In [135]:
stocks = {"GOOG":891, "AAPL":416, "IBM":239}
stocks

{'AAPL': 416, 'GOOG': 891, 'IBM': 239}

In [137]:
stocks.update({"GOOG":894, "YHOO":25})

In [138]:
print(stocks)

{'GOOG': 894, 'AAPL': 416, 'IBM': 239, 'YHOO': 25}

In [139]:
#Iterate over dicts
for key in stocks:
    print(key)

GOOG
AAPL
IBM
YHOO

In [140]:
for v in stocks.values():
    print(v)

894
416
239
25

In [141]:
for v in stocks.keys():
    print(v)

GOOG
AAPL
IBM
YHOO

In [144]:
for v, k in stocks.items():
    print(v,"=>", k)

GOOG => 894
AAPL => 416
IBM => 239
YHOO => 25

### Test for membership for dictionary keys with in and not in

In [145]:
'GOOG' in stocks

True

In [146]:
'WIN' not in stocks

True

### Removing items from dict with del()

In [148]:
print(stocks)
del(stocks['YHOO'])
print(stocks)

{'GOOG': 894, 'AAPL': 416, 'IBM': 239, 'YHOO': 25}
{'GOOG': 894, 'AAPL': 416, 'IBM': 239}

### Mutablility of dictionaries
We cannot modify the key, but we can modify the values.

In [149]:
isotopes = {'H':[1,2,3], 'He':[3,4], 'Li':[6,7], 'Be':[7,8,10], 'B':[10,11], 'C':[11,12,13,14]}
print(isotopes)

{'H': [1, 2, 3], 'He': [3, 4], 'Li': [6, 7], 'Be': [7, 8, 10], 'B': [10, 11], 'C': [11, 12, 13, 14]}

In [152]:
isotopes['H'] += [4,5,6,7]
isotopes

{'B': [10, 11],
 'Be': [7, 8, 10],
 'C': [11, 12, 13, 14],
 'H': [1, 2, 3, 4, 5, 6, 7],
 'He': [3, 4],
 'Li': [6, 7]}

In [153]:
#Add members
isotopes['N'] = [13,14,15]

In [154]:
isotopes

{'B': [10, 11],
 'Be': [7, 8, 10],
 'C': [11, 12, 13, 14],
 'H': [1, 2, 3, 4, 5, 6, 7],
 'He': [3, 4],
 'Li': [6, 7],
 'N': [13, 14, 15]}

To Print in a more readable way use **pprint**

In [155]:
from pprint import pprint as pp
pp(isotopes)

{'B': [10, 11],
 'Be': [7, 8, 10],
 'C': [11, 12, 13, 14],
 'H': [1, 2, 3, 4, 5, 6, 7],
 'He': [3, 4],
 'Li': [6, 7],
 'N': [13, 14, 15]}

# Sets
* An unordered collection of unique, immutable objects
* use curly { } to create it, similar to dictionaries but each item is a single object no key

In [156]:
p = {6,28,496,128,8128,74973243}
print(p)
print(type(p))

{128, 8128, 6, 496, 74973243, 28}
<class 'set'>

In [157]:
#empty set
e = set()
e

set()

### Duplicates are removed

In [158]:
t = [1, 4, 2, 6, 1 ,44, 4, 6]
print(t)
s = set(t)
print(s)

[1, 4, 2, 6, 1, 44, 4, 6]
{1, 2, 4, 6, 44}

### Iterate over set

In [161]:
for x in s:
    print(x)

1
2
4
6
44

In [162]:
q = {2, 9, 6, 4}
3 in q

False

In [163]:
3 not in q

True

### Adding elements to sets. Use add() or update() methods

In [164]:
k = {32, 55}
print(k)
k.add(23)
print(k)

{32, 55}
{32, 23, 55}

In [165]:
# Multiple adds
k.update([33,23,41,32])
print(k)

{32, 33, 41, 55, 23}

### Removing elements

In [166]:
print(k)
k.remove(55)
print(k)

{32, 33, 41, 55, 23}
{32, 33, 41, 23}

In [169]:
# use the discard()
print(k)
k.discard(98)
print(k)

{32, 33, 41, 23}
{32, 33, 41, 23}

### To copy use copy() or set() constructor

In [170]:
j = k.copy()
print(j)

{32, 33, 23, 41}

In [171]:
m = set(k)
print(m)

{32, 33, 23, 41}

### Set algebra operations
It supports the following operations:
* union
* intersection
* difference
* Symmetric difference
* subsets relationships

## Collection Protocols

Protocol | Implementing Collection
---------|------------------------
Container | str, list, dict, range, tuple, set, bytes
Sized | str, list, dict, range, tuple, set, bytes
Iterable | str, list, dict, range, tuple, set, bytes
Sequence | str, list, range, tuple, bytes
Mutable Sequence | List
Mutable Set | set
Mutable Mapping | dict

# Handling of exceptions

Is a mechanism for stopping normal program flow and contiuing at some surrounding context or block of code.

Key concepts:
* Raise and exception to interrupt program flow
* Handle an exception to resume control
* Unhandle exception will terminate the program
* Exception objects contain info about the exception event.

Use **try except**

### Re-Raising exceptions
If you want to capture ALL exceptions use:
except **Exception**

## Exceptions, API's and Protocols

Exceptions are part of a function's API, and more broadly they are part of certain protocols.
* **IndexError** is raised with an integer is out of range
* **ValueError** is raised when the object is of the right type, but contains an inappropriate value
* **KeyError**